<li>
	<%= link_to(image_tag(location.thumbnail_url, :class => 'thumbnail_image'), 
			location.image_url, :class => 'thumb', :title => location.name) %>
	<div class='caption'>
		<p class='name'><%= location.name %></p>
		<p class='description'><%= location.description %></p>
	</div>
</li>