@font-face {
	font-family: Yahei;
}

html { 
	height: 100%;
	background-color: gray;
}

body { 
	height: 600px; 
	width: 1280px;
	margin: 0px; 
	padding: 0px;
	
	font-size: 12px;
	font-family: arial, sans-serif;
}

a, a:hover, a:visited {
	color: gray;
	text-decoration: none;
}

header {
	height: 100px;
	background-color: white;
}

header .logo {
	margin: 25px 0 0 14%;
}

.main {
	height: 500px;
	background-color: black;
	padding: 3px 0 1px 0;
}

.main #map_canvas {
 	height: 100%;
 	width: 33%;
	float: left;
}

.main #map_canvas .control {
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	margin: 10px 10px 0 0;
	cursor: pointer;
}

.main #map_canvas .control.map_button {
	background-image: url(/images/control_map.gif);
}

.main #map_canvas .control.satellite_button {
	background-image: url(/images/control_satellite.gif);
}

.main #locations {
	width: 8%;
	float: left;
}

.main #locations .thumbnail_image {
	width: 81px;
}

.main #locations {
	text-align: center;
}

.main #locations .nav-controls {
	margin-top: 10px;
}

.main #locations .prev {
	position: relative;
	left: 15px;
	padding: 0px 12px;
	background-image: url(/images/prev.gif);
}

.main #locations .next {
	position: relative;
	top: 455px;
	left: -10px;
	padding: 0px 12px;
	background-image: url(/images/next.gif);
}

.main #locations ul {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0 10px;	
}

.main #locations ul li {
	color: gray;
	padding: 1px;
	margin-bottom: 10px;
}

.main #locations ul li.selected {
	background-color: #F2BC00;
	color: black;
}

.main #locations ul li .slide_name {
	height: 15px;
	overflow: hidden;
	text-align: left;
	margin: 0 0 0px 3px;
}

.main #current_location img {
	width: 752px;
	height: 501px;
}

.main #current_location .nav {
	position: absolute;
	top: 300px;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}

.main #current_location .nav.prev {
	background-image: url('/images/horizontal-prev.gif');
	left: 560px;
}

.main #current_location .nav.next {
	background-image: url('/images/horizontal-next.gif');
	left: 1210px;
}

.main #current_location .nav.prev:hover {
	background-image: url('/images/horizontal-prev-light.gif');;
}

.main #current_location .nav.next:hover {
	background-image: url('/images/horizontal-next-light.gif');;
}

.main #description {
	position: relative;
	top: -83px;
	width: 59%;
	height: 80px;
	margin-left: 41%;
	background-color: black;
	color: white;
	opacity: 0.8;
}

.main #description .caption {
	position: relative;
	top: 10px;
	left: 10px;
	margin-right: 10px;
}

.main #description .caption .name {
	float: left;
	width: 20%;
	color: #F2BC00;
	font-family: Hei;
	font-weight: bold;
	font-size: 13px;
	padding: 0 0 0 30px;
}

.main #description .caption .description {
	float: right;
	width: 70%;
	line-height: 150%;
}

.main #description p {
	margin: 0;
}
