<li class="head1">
  <div class='slide_name'><%= location.name %></div>
  <%= link_to(image_tag(location.thumbnail_url, :class => 'thumbnail_image'),
              location.image_url, :class => 'thumb', :title => location.name) %>
    <p class='name'><%= location.name %></p>
</li>