<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <title>GeoXtory</title>
  <%= stylesheet_link_tag 'application' %>

</head>
<h1>GeoXtory</h1>


<p>GeoXtory</p>
</html>