<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <title>GeoXtory</title>
  <%= stylesheet_link_tag 'application' %>

</head>
<body>
<header>
  <%= image_tag 'logo.gif', :class => 'logo' %>
</header>
<div>
  <ul>
    <%= @trips[0].locations[0].name %>
  </ul>
</div>
</body>


</html>